/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/images
/public/js
/public/source
/storage/*.key
/sourceFiles
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
_ide_helper.php
.phpstorm.meta.php
